!!!
%html
%head
	%title MC Forum
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	%link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Architects+Daughter" }
	%link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" }
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%header.main_header.clearfix
		.wrapper
			#logo
				%p 
					= link_to "MC Forum", root_path
			#buttons
				- if user_signed_in?
					= link_to "New Post", new_post_path
				- else
					= link_to "Sign in", new_user_session_path
					= link_to "Sign up", new_user_registration_path

	.wrapper
		%p.notice= notice
		%p.alert= alert

	.wrapper
		=yield

